exportPattern("^[[:alpha:]]+")
useDynLib(mas)
import(stats)
import(utils)
import(truncdist)
importFrom(Rcpp,sourceCpp)
importFrom(methods,is)
importFrom(graphics, abline, par, plot, lines)
S3method(plot, GenModel)
S3method(print, GenModel)